.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #558d8c;
}

h1,h2,h3 {
  font-family: "merriweather";
  font-size: 200%;
  color: rgb(31, 65, 71);
}

p {
  font-family: "garamond";
  font-size: 100%;
  color:rgb(16, 66, 79)
}

#content {
  background-color:rgb(187, 166, 140);
  width:500px;
  min-height:50px;
  margin:100px;
  padding:100px ;
  border: dotted 5px;
  font-size:15px;
  position:relative; top:0px; left: 300px; bottom:0px; right:-300px; 
}