/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #046e6c;
  background-color: #c08237;
}

h1,h2,h3,output {
  font-family: "merriweather";
  font-size: 200%;
  color: rgb(28, 46, 49);
}

h1,output {
  text-align: center;
}

p {
  font-family: "garamond";
  font-size: 100%;
  color:rgb(17, 50, 31)
}
#corolla-cross {
  max-width: 300px;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#content {
  background-color:rgb(211, 184, 146);
  width:500px;
  min-height:50px;
  margin:100px;
  padding:100px ;
  border: dotted 5px;
  font-size:15px;
  position:relative; top:0px; left: 300px; bottom:0px; right:-300px; 
}