/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #873e23; 
  background-color: #e8a776;
}

h1,h2,h3 {
  font-family: "merriweather";
  font-size: 200%;
  color: rgb(218, 218, 212);
}

h1 {
  text-align: center;
}

p {
  font-family: "garamond";
  font-size: 100%;
  color:rgb(238, 238, 228)
}

#content {
  background-color:rgb(64, 140, 202);
  width:500px;
  min-height:50px;
  margin:100px;
  padding:100px ;
  border: dotted 5px;
  font-size:15px;
  position:relative; top:0px; left: 300px; bottom:0px; right:-300px; 
}


.specialone {
  background-color: lavender;
  font-family: 'Courier New', Courier, monospace;
  border: dotted 50px rgb(56, 87, 60)(8, 0, 255);
  color: pink;
  font-weight: lighter;
} 


.specialtwo {
  background-color: lavender;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: dotted 50px rgb(217, 136, 136);
  color: rgb(159, 180, 145);
  font-weight: bold;
}


.specialthree {
  background-color: lavender;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: dotted 50px rgb(90, 72, 144);
  color: rgb(207, 160, 56);
  font-weight: bolder;
}

:root {
  --main-color: #ecf0f1;
  --point-color: #555;
  --size: 5px;
}

.loader {
	background-color: var(--main-color);
	overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; left: 0;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center;  
	z-index: 100000;
}

.loader__element {
  border-radius: 100%;
  border: var(--size) solid var(--point-color);
  margin: calc(var(--size)*2);
}

.loader__element:nth-child(1) {
  animation: preloader .6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
  animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
  animation: preloader .6s ease-in-out alternate .4s infinite;
}

@keyframes preloader {
  100% { transform: scale(2); }
}
