
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #65a1a0;
}

h1,h2,h3 {
  font-family: "merriweather";
  font-size: 200%;
  color: rgb(54, 92, 98);
}

p {
  font-family: "garamond";
  font-size: 100%;
  color:rgb(27, 59, 68)
}

h1 {
  text-align: center;
}

#content {
  background-color:rgb(238, 208, 168);
  width:500px;
  min-height:50px;
  margin:100px;
  padding:100px ;
  border: dotted 5px;
  font-size:15px;
  position:relative; top:0px; left: 300px; bottom:0px; right:-300px; 
}

#local-file-structure {
  max-width: 300px;
  margin: 10px;
}

#source-code-editor {
  max-width: 300px;
  margin: 10px;
}

#lab-3-source-code-editor {
  max-width: 300px;
  margin: 10px;
}

#lab-3-index-in-browser {
  max-width: 300px;
  margin: 10px;
}

#added-lab-3-screenshots {
  max-width: 300px;
  margin: 10px;
}

#pushed-files {
  max-width: 300px;
  margin: 10px;
}

#uploaded-website {
  max-width: 300px;
  margin: 10px;
}

#extra-credit {
  max-width: 300px;
  margin: 10px;
}