.minor-selction{
    padding: 20px;
    margin-bottom: 10px;
    border: solid 3px; color:rgb(13, 103, 119);
    background-color:rgb(240, 136, 0);
}

h1 {
    letter-spacing: 5px;
    word-spacing: 5px;
    font-size: 200%;
  }

  h1,h2,h3 {
    font-family: "fantasy";
  }