/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #a04b2d; 
  background-color: #f6b17d;
}

h1,h2,h3 {
  font-family: "merriweather";
  font-size: 200%;
  color: rgb(242, 242, 237);
}

h1 {
  text-align: center;
}

p {
  font-family: "garamond";
  font-size: 100%;
  color:rgb(0, 0, 0)
}

#content {
  background-color:rgb(56, 130, 191);
  width:500px;
  min-height:50px;
  margin:100px;
  padding:100px ;
  border: dotted 5px;
  font-size:15px;
  position:relative; top:0px; left: 300px; bottom:0px; right:-300px; 
}